html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(32, 30, 28, 0.5);
}
.container2{
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../assets/fundo2\ \(2\).jpg");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
}
.geral-itens{
  display: flex;
  padding: 20px;
  gap: 30px;
}
.itens a{
    font-size: 20px;
}